<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/style.css'>
  <script src='../static/client.js'></script>
</head>
<body>
<div>
  <div class='center'>
    <div class='title'>Classify Normal vs Pneumonia lung Xrays</div>
    <p>
      Use lung xray images to predict whether the images are Normal or contain Pneumonia 
    </p>
    <div class='content'>
      <div class='no-display'>
        <input id='file-input'
               class='no-display'
               type='file'
               name='file'
               accept='image/*'
               onchange='showPicked(this)'>
      </div>
      <button class='choose-file-button' type='button' onclick='showPicker()'>Select Image</button>
      <div class='upload-label'>
        <label id='upload-label'>No file chosen</label>
      </div>
      <div>
        <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
      </div>
      <div class='analyze'>
        <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analyze</button>
      </div>
      <div class='result-label'>
        <label id='result-label'></label>
      </div>
      <div>
        <p>This AI model was trained using the dataset available on <strong>https://www.kaggle.com/paultimothymooney/chest-xray-pneumonia</strong></p>
        <p>The accuracy of the prediction model is close to <strong>98%</strong></p>
        <p>This site is used for only educational purposes and not for any commercial or medical diagnostic purposes</p>
        
      </div>
    </div>
  </div>
</div>
</body>
</html>
